@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-color: #370617;
  margin: 0;
  font-family: 'Prompt', sans-serif;
  line-height: 1.6; }

.container {
  position: relative;
  width: 85%;
  max-width: 65em;
  margin: 0 auto; }

.spacing > * + * {
  margin-top: var(--spacer, 2rem); }

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  border: 1px solid #ed1d24;
  padding: 10px;
  color: #ed1d24;
  transition: transform 250ms ease-in-out, opacity 250ms linear; }
  .btn:hover, .btn:focus {
    transform: scale(1.1);
    opacity: .9; }
  .btn--yellow {
    border: 1px solid #faa307;
    color: #faa307; }

.hero {
  display: block;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 5em 0 15em 0;
  background: #9d0208;
  height: 100vh; }
  @supports (background-blend-mode: multiply) {
    .hero {
      background: url(images/bckg.png), radial-gradient(#444, #111);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-color: rgba(0, 0, 0, 0.6); } }
  .hero__icon {
    max-height: 200px; }
  .hero__title {
    margin-top: 20%;
    font-size: 72px;
    font-family: 'Lexend Peta', sans-serif; }
  .hero__btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    border: 1px solid #ed1d24;
    padding: 10px;
    color: #ed1d24;
    transition: transform 250ms ease-in-out, opacity 250ms linear; }
    .hero__btn:hover, .hero__btn:focus {
      transform: scale(1.1);
      opacity: .9; }

.last-arived {
  background-color: #faa307;
  padding: 3em; }
  .last-arived__title {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center; }
  .last-arived__items {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap; }
  .last-arived__item {
    max-width: 200px; }
    .last-arived__item-title {
      text-align: center; }
    .last-arived__item-image {
      max-width: 200px;
      opacity: 0.9;
      transition: transform 250ms ease-in-out, opacity 250ms linear; }
      .last-arived__item-image:hover {
        cursor: pointer;
        transform: scale(1.2);
        opacity: 1; }

.fresh-new {
  height: 700px;
  background-color: #dc2f02;
  padding: 3em; }
  @supports (background-blend-mode: multiply) {
    .fresh-new {
      background: url(images/bckg.png), radial-gradient(#444, #111);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-color: rgba(0, 0, 0, 0.6); } }
  .fresh-new__title {
    font-size: 48px;
    color: #fff;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.6); }
  .fresh-new__item {
    z-index: 1; }
    .fresh-new__item-image {
      position: absolute;
      top: 3rem;
      right: 0; }
    .fresh-new__item-name {
      position: relative;
      color: #faa307;
      font-size: 24px;
      text-transform: uppercase; }
    .fresh-new__item-desc {
      position: relative;
      color: #fff;
      font-size: 16px;
      z-index: 2; }
